name: Add Code to Python File

on:
  push:
    branches:
      - main

jobs:
  Add-code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Add code to Python file
        run: |
          sed -e '$r database_template.txt' -i ./dev_us.yml

      - name: Commit changes
        run: |
          git config --global user.email "govindj94@gmail.com"
          git config --global user.name "govindj94"
          git commit -am "Append text"
          git push

    
